<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAP</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="lContain">
    <%- include ('partials/navbar.ejs') %>

    <div class="loginItem">
        <h1 class="headin">Communities</h1>
        <div id="line"></div>
        <div class="part">
            
            <a href="/cComm">
                <button type="button" class="navBtn">
                    <h1 class="navTxt">Create Community</h1>
                </button>
            </a>
            
        
        </div>
        <% for(let i=0; i < communities.length; i++) { %>
            <a href="/community/<%= communities[i].id %>" class="cHead">
                <div class="part">
                    <div class="sect">
                        <img src = "/images/<%= communities[i].cPic %>" class="cProfile">
                        <h1 class="cHead"><%= communities[i].cName %></h1>
                        <div id="cLine"></div>
                        <p class="cDesc"><%= communities[i].cDesc %> </p>
                    </div>
                </div>
            </a>
        <% } %>
        
    </div>
</body>
</html>